.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    padding: 2rem;
    border: var(--border);
}

.h1 {
    font-family: 'Arial Black', cursive;
    font-size: 36pt;
    text-align: justify;
    background: none;
    margin: 2rem 0 1rem 0;
    letter-spacing: 5px;
}

.text {
    text-align: justify;
    background: none;
    letter-spacing: 2px;
}

.dot {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 22pt;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.content a {
  height: 10px;
}

.content a:hover {
    filter: brightness(1.5);
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

    .h1 {
        font-size: 26pt;
    }

    .h1,
    .text {
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .content a {
        height: 30px;
    }
}