.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 2rem;
    border: var(--border);
}

.h1 {
    font-size: 36pt;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}

.text {
    text-align: justify;
    background: none;
    letter-spacing: 0.2rem;
}

.dot {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 22pt;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: calc(100% - 2 * 2rem);
    align-items: center;
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: none;
    }

    .h1 {
        font-size: 26pt;
    }

    .h1,
    .text {
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: calc(100% - (2 * 1rem));
        margin-left: -1.25rem;
    }
}
