.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.badge span {
    font-size: 8pt;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0.5rem 0 0 0;
}

@media screen and (max-width: 900px) {
    .h2 {
        text-align: center;
    }
}
