.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    margin: 1rem 0;
    width: 20%;
    align-self: center;
}

@media screen and (max-width: 900px) {
    .container {
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 50%;
    }
}