.container {
    display: flex;
    position: relative;
    bottom: 20px;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

@media screen and (max-width: 900px) {
    .container {
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 50%;
    }
}