.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: none;
    border-radius: var(--border-radius);
    font-weight: 700;
    font-size: 12pt;
}

.button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.squared {
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    flex: 1;
    text-align: center;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
