.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    background: none;
    font-weight: 700;
    font-size: 12pt;
    min-height: 35px;
}

.button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.squared {
    background-color: var(--primary-color);
    text-align: center;
    border: none;
    flex: 1;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
