.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 0.5rem;
    flex: 1;
    cursor: text;
    margin: 0.5rem 0;
}

.focus {
    border: 1px solid var(--primary-color);
}

.container input,
.container textarea {
    border: none;
    flex: 1;
}

.container textarea {
    resize: none;
}

.container input:focus,
.container textarea:focus {
    outline: none;
}
