.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 0.5rem;
    flex: 1;
    cursor: text;
}

.focus {
    border: 1px solid var(--primary-color);
}

.container input,
.container textarea {
    border: none;
    flex: 1;
}

/* Change the white to any color */
.container input:-webkit-autofill,
.container input:-webkit-autofill:hover,
.container input:-webkit-autofill:focus,
.container input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--text-color) !important;
    -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

.container textarea {
    resize: none;
}

.container input:focus,
.container textarea:focus {
    outline: none;
}
