.container {
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1rem;
    margin: 2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

@media screen and (max-width: 900px) {
    .container {
        border: 0;
        margin: 1rem 0;
    }

    .row {
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
    }
}
