.blog {
    cursor: pointer;
    padding: 0.5rem;
}

.blog:hover {
    filter: brightness(1.1);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.left {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.right {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.highlight {
    color: var(--primary-color)
}

.excerpt {
    margin: 1rem 0;
}