.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 25vw;
    border: var(--border);
    padding: 2rem;
    margin-top: 10vh;
}

.question {
    margin-top: 1rem;
}

.question a {
    color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
    .form {
        width: 90vw;
        border: 0;
        margin-top: 5vh;
    }
}
