.container {
    padding: 0.5rem;
}

.meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 10pt;
}

.highlighted {
    color: var(--primary-color);
}

@media screen and (max-width: 900px) {
    .container {
        margin: 2rem 0;
    }
}