.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50vw;
    border: var(--border);
    padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.question {
    margin-top: 1rem;
}

.question a {
    color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
    .form {
        width: 90vw;
        border: 0;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 0.2rem;
    }
}
